html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    width:100%;
    height:100%;
}


/*
Encart et barre de défilement personnalisée
Source: https://css-tricks.com/examples/WebKitScrollbars
*/

/* Let's get this party started */ 
::-webkit-scrollbar { 
    width: 1.4vw; 
 } 
 
::-moz-scrollbar { 
    width: 1.4vw; 
 } 
::-o-scrollbar { 
    width: 1.4vw; 
 } 
 
 
 /* Track */ 
 ::-webkit-scrollbar-track { 
    -webkit-box-shadow: inset 0 0 .6vw rgba(110,110,110,0.3); 
    -webkit-border-radius: 1vw; 
    border-radius: 1vw; 
}

 ::-moz-scrollbar-track { 
    -moz-box-shadow: inset 0 0 .6vw rgba(110,110,110,0.3); 
    -moz-border-radius: 1vw; 
    border-radius: 10px; 
}

 ::-o-scrollbar-track { 
    -o-box-shadow: inset 0 0 .6vw rgba(110,110,110,0.3); 
    -o-border-radius: 1vw; 
    border-radius: 1vw; 
}

/* Handle */ 
::-webkit-scrollbar-thumb { 
    -webkit-border-radius: 1vw; border-radius: 1vw; 
    background: rgba(5, 45, 49,.5); 
    -webkit-box-shadow: inset 0 0 .6vw rgba(110,110,110,0.3); 
} 

::-webkit-scrollbar-thumb:window-inactive { 
    background: rgba(255,0,0,0.4); 
} 

::-moz-scrollbar-thumb { 
    -moz-border-radius: 1vw; border-radius: 1vw; 
    background: rgba(5, 45, 49,.5); 
    -moz-box-shadow: inset 0 0 .6vw rgba(60, 13, 72,0.3); 
} 

::-moz-scrollbar-thumb:window-inactive { 
    background: rgba(255,0,0,0.4); 
} 

::-o-scrollbar-thumb { 
    -o-border-radius: 1vw; border-radius: 1vw; 
    background: rgba(5, 45, 49,.5); 
    -o-box-shadow: inset 0 0 .6vw rgba(0,0,0,0.5); 
} 

::-o-scrollbar-thumb:window-inactive { 
    background: rgba(255,0,0,0.4); 
} 

