
   
   .button  {
      font-size:2em;
   }
   
   div.colonne{
        -webkit-columns: 3 300px;
          -moz-columns: 3 300px;
	    -ms-columns: 3 300px;
             -o-columns: 3 300px;
        columns: 3 300px;
    }
    
    div.rot{
        Display:none;
    }
    .competences{
            width:400px;
    }

    .imageflottante{
        Display:block;
        float: none;
     }